<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
</head>
<body>
	<h1 th:text="${title}"></h1>

	<form th:action="@{/form}" th:object="${user}" method="post">
		<table>
			<tr>
				<td>UserId</td>
				<td><input type="text" th:field="*{idUser}" /></td>
			</tr>		
			<tr>
				<td>firstName</td>
				<td><input type="text" th:field="*{firstName}" /></td>
			</tr>
			<tr>
			<td>lastName</td>
				<td><input type="text" th:field="*{lastName}" /></td>
			</tr>			
			<tr>
				<td>email</td>
				<td><input type="text" th:field="*{email}" /></td>
			</tr>
			<tr>
				<td>latitud</td>
				<td><input type="text" th:field="*{latitud}" /></td>
			</tr>
			<tr>
				<td>longitud</td>
				<td><input type="text" th:field="*{longitud}" /></td>
			</tr>						
<!-- 			<tr> -->
<!-- 				<td>Date User</td> -->
<!-- 				<td><input type="text" th:field="*{createOnUser}" /></td> -->
<!-- 			</tr>			 -->
			
			<tr>				
				<td><input type="submit" value = "create values"/></td>
			</tr>			
		</table>
	
	</form>
</body>
</html>